# Astro dev/build outputs
.astro
dist

# Node dependencies
node_modules

# Package Manager
package.json
pnpm-lock.yaml

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
