---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import SectionBlogs from '../../components/SectionBlogs.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="p-4 md:px-8 text-white bg-dark-400 overflow-x-hidden h-[calc(100vh-79px)]">
		<Header />
		<SectionBlogs />
		<Footer />
	</body>
</html>
