* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	scrollbar-width: 6px;
}

*::-webkit-scrollbar {
	@apply block w-[6px] bg-dark-400;
}

*::-webkit-scrollbar-thumb {
	@apply rounded-md bg-dark-600;
}

body {
	@apply text-white bg-dark-400 overflow-x-hidden;
}
