---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SectionFeature from '../components/SectionFeature.astro';
import SectionHero from '../components/SectionHero.astro';
import SectionStarting from '../components/SectionStarting.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="text-white bg-dark-400">
		<Header title={SITE_TITLE} />
		<main class="flex flex-col items-stretch mx-auto max-w-[76rem]">
			<SectionHero />
			<SectionFeature />
			<SectionStarting />
		</main>
		<Footer />
	</body>
</html>
