---
import { Icon } from 'astro-icon/components';
---

<footer class="relative px-4 overflow-hidden z-10">
	<div class="flex justify-center items-center">
		<svg class="absolute w-screen" viewBox="0 0 1439 92" fill="none" xmlns="http://www.w3.org/2000/svg">
			<line x1="0" y1="46" x2="1439" y2="46" stroke="#2D2F34" stroke-width="2"></line>
			<circle cx="720" cy="46" r="46" fill="url(#gradient)"></circle>
			<defs>
				<radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(720 46) rotate(90) scale(61.5 49.6975)">
					<stop offset="0.567708" stop-color="#0C0C0D"></stop>
					<stop offset="1" stop-color="#0C0C0D" stop-opacity="0"></stop>
				</radialGradient>
			</defs>
		</svg>
		<Icon name="logo" class="text-[28px] z-10 before:content-[''] before:absolute before:rounded-[50%] before:w-[150px] before:aspect-square before:z-10" />
	</div>
	<ul class="flex justify-between items-center mx-auto py-4 max-w-[76rem] text-[0.875rem] text-white/60">
		<li>
			<span>© 2023-2024 AI Guide</span>
			<br />
			<span>MIT License</span>
		</li>
		<li>
			<a href="https://github.com/shba007/ai-guide">
				<Icon name="github" class="text-[24px] text-white opacity-60 hover:opacity-100 transition-opacity" />
			</a>
		</li>
	</ul>
</footer>
