---
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components';

const routes = [
	{
		link: '/blog',
		title: 'Blogs',
	},
	{
		link: '/about',
		title: 'About',
	},
];
---

<header>
	<nav class="absolute top-0 left-0 right-0 flex justify-between items-center gap-6 mx-auto py-5 px-4 md:px-8 lg:px-0 max-w-[76rem]">
		<a href="/" class="flex gap-3">
			<Icon name="logo" class="text-[32px] scale-125" />
			<h2 class="hidden md:inline text-lg">{SITE_TITLE}</h2>
		</a>
		<!-- Routes -->
		<ul class="relative flex gap-8 md:-translate-x-16">
			{
				routes.map(({ link, title }) => (
					<li v-for="{ link, title } in routes" class="text-white/80 hover:text-white/100 transition-colors">
						<a href={link} active-class="text-white">
							{title}
						</a>
					</li>
				))
			}
		</ul>
		<!-- Social Media -->
		<ul>
			<li>
				<a href="https://github.com/shba007/ai-guide">
					<Icon name="github" class="text-[32px] fill-white opacity-60 hover:opacity-100 transition-opacity" />
				</a>
			</li>
		</ul>
	</nav>
</header>
