---
import { Icon } from 'astro-icon';
---

<footer class="relative w-[98.5vw] overflow-hidden">
	<div class="relative flex items-center justify-center">
		<svg class="absolute left-0 right-0" viewBox="0 0 1439 92" fill="none" xmlns="http://www.w3.org/2000/svg">
			<line x1="-1" y1="46" x2="1439" y2="46" stroke="#2D2F34" stroke-width="2"></line>
			<circle cx="720" cy="46" r="46" fill="url(#gradient)"></circle>
			<defs>
				<radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(720 46) rotate(90) scale(61.5 49.6975)">
					<stop offset="0.567708" stop-color="#0C0C0D"></stop>
					<stop offset="1" stop-color="#0C0C0D" stop-opacity="0"></stop>
				</radialGradient>
			</defs>
		</svg>
		<Icon name="logo" class="w-7 z-10" />
	</div>
	<ul class="flex justify-between items-center mx-auto py-4 max-w-[76rem] text-[0.875rem] text-white/60">
		<li>
			<span>© 2023-2023 AI Guide</span>
			<br />
			<span>MIT License</span>
		</li>
		<li>
			<a href="https://github.com">
				<Icon name="github" class="w-6 fill-white opacity-60 hover:opacity-100 transition-opacity" />
			</a>
		</li>
	</ul>
</footer>
