---
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon';
---

<header>
	<!-- relative -left-[5.5rem] w-screen -->
	<nav class="absolute top-0 left-0 right-0 flex justify-between items-center gap-6 mx-auto py-5 max-w-[76rem]">
		<a href="/ai-guide" class="flex gap-3">
			<Icon name="logo" class="w-8 scale-125" />
			<h2 class="text-lg">{SITE_TITLE}</h2>
		</a>
		<!-- Routes -->
		<ul class="relative flex gap-8 -translate-x-16">
			<li class="opacity-80 hover:opacity-100 transition-opacity">
				<a href="/ai-guide/blog">Blogs</a>
			</li>
			<li class="opacity-80 hover:opacity-100 transition-opacity">
				<a href="/ai-guide/about">About</a>
			</li>
		</ul>
		<!-- Social Media -->
		<ul>
			<li>
				<a href="https://github.com/ai-guide/">
					<Icon name="github" class="w-8 fill-white opacity-60 hover:opacity-100 transition-opacity" />
				</a>
			</li>
		</ul>
	</nav>
</header>
