---
import FeatureCard from './FeatureCard.astro';
---

<section class="flex flex-col gap-5">
	<h3 class="text-2xl md:text-4xl font-semi-bold">
		Become 10x
		<span class="relative">
			<span class="text-gradient"> Productive</span>
		</span>
	</h3>
	<p class="text-lg max-w-4xl leading-relaxed opacity-60">
		How to use latest AI tools and techniques to increase your productivity. In the current world where Time is money and efficiency is the key AI Guide gives a
		guided path to maximize output
	</p>
	<div class="grid grid-cols-1 min-[512px]:grid-cols-2 lg:grid-cols-3 justify-between gap-4 mt-12">
		<FeatureCard title="Efficiency" describtion="Streamline repetitive tasks and eliminate bottlenecks" />
		<FeatureCard title="Cost Savings" describtion="Reduce operational costs by minimizing resource wastage" />
		<FeatureCard title="Optimization" describtion="Optimize your prompts to speed up generation process" />
	</div>
</section>

<style scoped>
	.text-gradient {
		background: -webkit-linear-gradient(45deg, #38bdf8, #3890f8 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
