---
import CTAButton from './CTAButton.astro';
---

<section class="flex flex-col gap-8 md:flex-row justify-between md:items-center my-12 md:my-4 md:min-h-[50vh]">
	<div>
		<h6 class="uppercase font-semi-bold">Getting Started</h6>
		<h2 class="mt-1 text-2xl md:text-4xl font-semi-bold">Start your AI Journey</h2>
		<p class="text-lg mt-3 opacity-80">Learn everything you need to know, from beginner to master</p>
	</div>
	<div class="flex gap-4">
		<CTAButton title="Get Started" />
		<CTAButton title="Explore Examples" active={false} />
	</div>
</section>
