---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<main class="shrink flex flex-col items-stretch mx-auto mt-20 mb-3 max-w-[76rem] min-h-screen">
	<article class="w-full">
		<img src={heroImage} class="w-full rounded-[0.625rem] aspect-[4.5] object-cover" />
		<div class="flex justify-between mt-11 text-lg opacity-60">
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<span class="text-base">
						Last updated on <FormattedDate date={updatedDate} />
					</span>
				)
			}
		</div>
		<h1 class="text-3xl mt-4 max-w-[80%]">{title}</h1>
		<p class="content pt-6 opacity-90"><slot /></p>
	</article>
</main>

<style>
	h2 {
		font-size: 1.25rem;
	}
</style>
